$bg-main-color: #fdfdfd;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
    font-size: 1em;
}

body {
  background-image: url("starwars2_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.625;
}

#result {
  color: #14FF8A;
}

#input {
  text-align: center;
}

h3, p, div {
  text-align: center;
}

h3 {
  text-transform: capitalize;
  span {
    text-transform: none;
  }
}

button {
  display: block;
  margin: 15px auto;
  color: #3B434A;
  background-color: #CADAE8;
  font-weight: bold;
}

button:hover {
    background-color: #8CC1ED;
}

#bio {
  max-width: 70%;
  margin: 15px auto;
  padding: 10px;
}
